*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}
body{
    min-height: 100vh;
    background-color: #121212 !important;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
.hello{
    color: #000;
    background: #fff;
    border-radius: 11px;
    padding: 3px 12px;
    cursor: pointer;
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    max-width: 30vw;
}
.context-menu{
    transition: all 1s ease-in-out;
    position: absolute;
    list-style-type:none;
    background: rgb(255, 255, 255);
    padding: 5px 0 ;
    border: 3px solid #363636;
    border-radius: 5px;
}
.context-menu > li{
    padding: 0 30px;
    font-size: 1.25rem;
    font-weight: 600;
}
.context-menu > li:hover{
    cursor:  pointer;
    background: rgba(65, 65, 65, 0.205);
}
.added{
    border: 3px solid rgb(85, 85, 85);
}